<h1> Students </h1>
<table>

  <thead>
    <tr>
      <th> User Name </th>
      <th> About </th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.user_name, user %></td>
      <td><%= user.about %></td>
      <td><%= link_to 'Edit User', edit_user_path(user) %>
        <%= link_to 'Destroy User', user, method: :delete %>
      </td>
    </tr>
    <% end %>    
</tbody>
</table>
